

form {
    .form-group {
        margin-bottom: 1rem;

        label {
            margin-bottom: .5rem;
            display: inline-block;
        }

        small {
            font-size: .875rem;
        }

        textarea {
            height: 135px; // default textarea height
            resize: vertical;
        }

        .form-control {
            display: block;
            width: 100%;
            padding: .375rem .75rem;
            font-size: .875rem;
            font-weight: 400;
            line-height: 1.5;
            color: #212529;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: .25rem;

            transition: box-shadow .15s ease-in-out;
            &:disabled {
                background-color: #e9ecef;
                cursor: not-allowed;
            }
            
            &:focus {
                border-color: #90cbf9;
                outline: 0;
                box-shadow: 0 0 0 .25rem rgba(33, 150, 243, .25);
            }

            &.form-error-input {
                border-color: #f44336;

                &:focus {
                    outline: 0;
                    box-shadow: 0 0 0 .25rem rgba(243, 33, 33, 0.25);
                }                
            }
        }
    }
    .form-row {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
    }
    
    .form-error {
        padding: 12px;
        background-color: #f44336;
        color: #fff;
        margin-bottom: 1em;
        border-radius: .25rem;

        &-input-text {
            margin-top: 3px;
            color: #f44336;
        }
    }
}

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: .875rem;
    border-radius: .25rem;

    &-primary {
        background-color: $default-color;
        border-color: $default-color;
        color: #fff;

        transition: box-shadow .15s ease-in-out;
        &:hover, &:focus {
            background-color: #42a6f5;
            border-color: #37a1f4;
        }

        &:focus {
            box-shadow: 0 0 0 .25rem rgba(28, 128, 207, .5);
        }
    }

    &-secondary {
        background-color: #f8f9fa;

        transition: box-shadow .15s ease-in-out;
        &:hover, &:focus {
            background-color: #f9fafb;
            border-color: #f9fafb;
        }

        &:focus {
            box-shadow: 0 0 0 .25rem rgba(211, 212, 213, .5);
        }
    }

    &-secondary {
        background-color: #f8f9fa;

        transition: box-shadow .15s ease-in-out;
        &:hover, &:focus {
            background-color: #f9fafb;
            border-color: #f9fafb;
        }

        &:focus {
            box-shadow: 0 0 0 .25rem rgba(211, 212, 213, .5);
        }
    }

    &:not(:disabled) {
        cursor: pointer;
    }
}