
.page-container {
    min-height: 100vh;
    padding-left: $sidebar-width;

    @media screen and (max-width: $responsive-width) {
        padding-left: 0;
    }
}

.main-content {
    padding: 85px 20px 20px;
    min-height: 100vh;//calc(100vh - footer-height);
    background-color: #f9fafb;
}

.main-title {
    color: #313435;
    margin-bottom: 30px !important;
    margin-top: 10px !important;
    font-size: 1.3125rem;
    font-weight: 500;
}

.main-block, .main-alert {
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid $bg-color-opacity !important;
    padding: 20px;
    margin-bottom: 20px;
    overflow-x: auto;
}

.main-alert {
    color: #388e3c;
    background-color: #e8f5e9;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-centered {
    max-width: 350px;
    margin: 0 auto;
    margin-top: 10em;

    h3 {
        text-align: center;
        color: #313435;
        font-weight: 500;
    }
}