table {
    width: 100%;  
    border-collapse: collapse;

    th, td {
        border: 1px solid #ddd;
        padding: 12px;
        text-align: left;
    }
    
    th {
        background-color: #f2f2f2;
    }
}

.table-search {
    display: flex;
    justify-content: flex-end;
    input {
        border: 1px solid $bg-color-opacity;
        border-radius: 2px;
        box-shadow: none;
        height: 35px;
        margin-left: 15px;
        padding: 5px;
    }
}