
$bg-color-opacity: rgba(0, 0, 0, 0.0625);
$default-color: #2196f3;

$responsive-width: 950px;

body {
    font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,sans-serif;
}

@import 'reset';
@import 'sidebar';
@import 'navbar';
@import 'mask';
@import 'page';

@import 'stats';
@import 'table';
@import 'form';
@import 'pagination';
@import 'badge';